*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Gilroy';
}
 
html, body{
height: 100%;
width: 100%;
}
.page1{
    width: 100%;
    height: 100%;
    background: lightcoral;
}
.page2{
    width: 100%;
    height: 100%;
    background: rosybrown;
}
.page2 img{
    height: 100%;
    width: 20%;
    object-fit: cover;
    position: relative;
    left: 50%;
    transform: translateX(-50%); 
    /* that above line do center the image */
}
.page3{
    width: 100%;
    height: 100%;
    background: cadetblue;
}
.page3 h1{
    height: 100%;
    width: 100%;
    /* object-fit: cover; */
    position: relative;
    left: 50%;
    transform: translateX(-50%); 
    font-size: 100px;
    text-align: center;
    /* that above line do center the image */
    display: flex;
    justify-content: center;
    align-items: center;
}